body{
    max-width: 1200px;
  
}
/* nav style */
.nav-containar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-part{
    display: flex;
    align-items: center;

}
.fa-bars{
    font-size: 18px;
   
}
.nav-icon{
    text-align: right;
}
.nav-ul ul {
    display: flex;
}
.nav-ul ul li{
  list-style-type: none;
  margin-right: 20px;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;

  font-weight: 700;
}
.nav-part img{
width: 48px;
height: 56.008px;
flex-shrink: 0;
}
.nav-part h1{
margin-left: 30px;
}
.myfirst{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
.travels{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
.Home-li{
color: #FF5400;
  }
  /* benner- style section */
  .container{
    text-align: center;
    padding: 50px;
    background-image: url("Images/1.png");
    width: 100%;
    height: 500px;
    background-repeat:no-repeat ;
  }
  .container h1{
color: #fff;
font-size: 64px;
font-weight: 800;
  }
  .container p{
 color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
  }
  .pramary-btn{
    color:#ffff;
 width: 124px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
margin-left: 15px;
font-size: 45px;


  }
.pramary{
    color: #ffff;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 15px;

}
.secent-contaenar{
    display: flex;
    margin-bottom: 50px;
}
.wrap-Our-Popular{
    padding: 20px;
    height: 450px;
}
.wrap-Our-Popular h1{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
    margin-top: 30px;
}
.wrap-Our-Popular p{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-top: 30px;
}
.wrap-Our-Popular li{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
 margin-top: 30px;
}
.secent-img{
    padding: 20px;
    height: 450px;
}
.thard-container{
    margin-top: 120px;
    padding: 50px;
}

.thard-container h1{

    .thard-container:color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.thard-container p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.img-containar{
width: 100%;
height: 100%;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(3,1fr);
 gap: 15px;
 position: relative;
}
.img-containar img{
width: 100%;
}

.img-item-1{
 grid-column: 1/span 6;
 grid-row: 1/span 1;
}
.maldip{
    
}
.img-item-2{
 grid-column: 7/span 6;
 
}
.img-item-3{
grid-column: 1/span 4;
grid-row: 2/span 1;
}
.img-item-4{
grid-column: 5/span 5;
grid-row: 2/span 1;
}

.img-item-5{
grid-column: 10/span 3;
 grid-row: 2/span 1;
}

.img-item-6{
    grid-column: 1/span 5;
}
.img-item-7{
    grid-column: 6/span 8;  
}
.img-containar p{
 text-align: center;
 margin-top: -200px;
 position: absolute;
 color:#fff;
margin-left: 130px;
align-items: center;
font-size: 50px;
    
}
.Why-containar{}
.Why-containar h1{color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
   }
.Why-containar p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.card-containar{
 width: 100%;
 height:100%;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(3,1fr);
 gap: 15px;
}
.first-card{
 grid-column: 1/span 6;
 grid-row: 1/span 1;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 25px;
width: 500px;
height: 284px;
flex-shrink: 0;
}
.secent-card{
 grid-column: 7/span 6;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 25px;
width: 500px;
height: 284px;
flex-shrink: 0;
}
.thard-card{
 grid-column: 5/span 4;
grid-row: 2/span 1;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 25px;
width: 473px;
height: 284px;
flex-shrink: 0;
}
.Deals-containar{
    text-align: center;
}
.Deals-containar h1{
 color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.Deals-containar p{
 color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.cav-seent{}


.cav-seent ul{
    display: flex;  
}
.cav-seent ul li{
    margin-left: 20px;

    list-style-type: none;
}
.cav-seent ul i{
margin-left: 15px;

}
.nav-description h3{
    color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
}
.secent-section{
margin-left: 520px;
margin-top: -400px;
position: absolute;
border-radius: 16px;
border: 2px solid #FFF;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
width: 379px;
height: 249px;
flex-shrink: 0;
padding: 50px;
}
.secent-section-2{
margin-left: 20px;
 margin-top: -400px;
 position: absolute;
 border-radius: 16px;
 border: 2px solid #FFF;
 border: 2px solid #FFF;
 background: rgba(255, 255, 255, 0.80);
 width: 379px;
 height: 249px;
 flex-shrink: 0;
 padding: 50px;
 }
.containar-Tour-Satorini-{
position: relative;
}
.last{
  margin-left: 500px;
  margin-top: 20px;
}
.containa-last-a-simpole{
    display: flex;
margin-top: 50px;
padding: 50px;

}
.r-A-Simple-Perf{
    width: 100%;
}
.containa-last-a-simpole h1{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 60px; 
}
.containa-last-a-simpole video {
 margin-left: 200px;
 width: 500px;
 height: 100%;
 border-radius: 16px solid red;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.jjjjjj{
    margin-top: 30px;
}
.container-from{
display: flex;

}
.from{
    padding: 30px;
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.from input{
width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.from button{
 width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
}
.container-from img{
width: 672px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.container-from .pramary-1{
 width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
position: absolute;
margin-top: -170px;
margin-left: 350px;
color: #fff;
}
.positionnn{
    position: relative;
}
.footer-containar{
    text-align: center;
    background: rgba(2, 2, 30, 0.05);
    width: 100%;
    height: 400px;
    align-items: center;
    margin-top: 50px;
  
}
.footer-last.ramjan{
    display: flex;
   text-align: center;
}
.footer-last p, ,i{
    color:#131318;
   
}
.footer-last {
   padding: 100px;
   margin-left: 100px;
}


@media screen and(max-width:600px){
   
    .nav-ul ul li{
        margin-right: 5px;
    }
    .pramary{
      
    }
    .container{
        text-align: center;
        padding: 5px;
        background-image: url("Images/1.png");
        background: 100%;
        height: 700px;
        background-repeat:no-repeat ;
        grid-template-columns: 1fr;
        padding: 5px;
    }
    .container,.pramary-btn{
        flex-direction: column;
    }
    .container.pramary{
        flex-direction:column;
    }
    .container h1{
        color: #fff;
        font-size: 24px;
        font-weight: 200;
   
    }
    .secent-contaenar{
       grid-template-columns:repeat(1,1fr);
    }
}